.modlib-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modlib-modal .spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
    padding: 15px 10px;
    text-align: center;
    width: 220px;
    height: 190px;
    margin-top: -60px;
    margin-left: -83px;
}
